.join{
    border: none;
    color: white;
    background-color: #112f6e;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
}
.first{
    margin: 80px 0px 40px 0px;
}
.width{
    width: 100%;
}
.ash{
    color: gray;
    font-size: 16px;
}
.ash2{
    color: gray;
    font-size: 16px;
    margin-bottom: -1px;
}
.us{
    color: #112f6e;
}
.card-body {
    padding: 0 !important;
}
.collapse{
    position: relative;
    bottom: 16px;
    border-radius: 0px !important;
}
.btn-primary{
    background-color: transparent;
    color: black;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 0px !important;
    width: 100%  !important;
    text-align: left;
    font-weight: 550;
}
.card {
    border-radius: 0px;
    border-top: none;
}
.position{
  margin-bottom: -17px;
}
.money{
    font-size: 20px;
    color: orangered;
    font-weight: 600;
}
